[package]
name = "intmax-client"
version = "0.3.2"
edition = "2021"

[dependencies]
anyhow = "1.0"
dirs = "4.0"
hex = "0.4"
intmax-rollup-interface = { git = "https://github.com/InternetMaximalism/intmax-rollup-interface", rev = "493f60268ec762e65f3c19965d79236a7273e1d5" }
intmax-zkp-core = { git = "https://github.com/InternetMaximalism/intmax-zkp-core", rev = "fde56c7e3caf6aee8aa3602d19001e60a4598f45" }
plonky2 = { git = "https://github.com/mir-protocol/plonky2", rev = "d527073416dd8cbc04457b8cb856b2fec3fa0e6c" }
reqwest = { version = "0.11", features = ["blocking", "json"] }
serde = "1.0"
serde_json = "1.0"
structopt = "0.3"
tokio = "1.21"
