[package]
name = "intmax-client"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
dirs = "4.0"
hex = "0.4"
intmax-rollup-interface = { git = "https://github.com/InternetMaximalism/intmax-rollup-interface" }
intmax-zkp-core = { git = "https://github.com/InternetMaximalism/intmax-zkp-core" }
plonky2 = { git = "https://github.com/mir-protocol/plonky2" }
reqwest = { version = "0.11", features = ["blocking", "json"] }
serde = "1.0"
serde_json = "1.0"
structopt = "0.3"
tokio = "1.21"
