[package]
name = "intmax"
version = "1.0.1-alpha"
edition = "2021"

[dependencies]
anyhow = "1.0"
ctrlc = "3.2"
dirs = "4.0"
hex = "0.4"
intmax-rollup-interface = { git = "https://github.com/InternetMaximalism/intmax-rollup-interface", rev = "6360881260c65aaa666a40e784a135ea24d77430" }
intmax-zkp-core = { git = "https://github.com/InternetMaximalism/intmax-zkp-core", rev = "ba1b6447e9e7a2cedb9f1792bb32997799a91053" }
num-bigint = "0.4"
plonky2 = { git = "https://github.com/mir-protocol/plonky2", rev = "d527073416dd8cbc04457b8cb856b2fec3fa0e6c" }
regex = "1"
reqwest = { version = "0.11", features = ["blocking", "json"] }
serde = "1.0"
serde_json = "1.0"
structopt = "0.3"
tokio = "1.21"

[features]
verbose = []
