name: compile-test

on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    branches:
      - main
      - "releases/**"
    paths-ignore:
      - "**.md"

jobs:
  compile:
    name: Compile Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          # lfs: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2022-09-08
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --release -- --skip test_simple_scenario
      # - uses: actions/upload-artifact@v3
      #   with:
      #     name: server
      #     path: target/release/server
